.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  width: 100%;
}

.label {
  display: block;
  color: var(--mantine-color-gray-6);
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.stepper {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  width: 100%;
  min-inline-size: 0;
  height: 40px;
  padding: var(--mantine-spacing-sm);
  border: 1px solid var(--mantine-color-lightBlue-0);
  border-radius: var(--mantine-radius-default);
  background-color: var(--mantine-color-white);
}

.value {
  flex: 1;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-md);
  line-height: 24px;
  text-align: center;
  user-select: none;
}

.button svg {
  color: var(--mantine-color-black);
}

.button:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

.button:disabled svg {
  color: var(--mantine-color-lightBlue-0);
}
