.profileContainer {
    position: absolute;
    top: 65px;
    right: 22px;
    width: 518px;
    height: 502px;
    padding: 40px 92px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
}