.content {
  position: relative;
  min-width: 0;

  padding: clamp(32px, 5vw, 96px);
}

.contentInner {
  width: clamp(360px, 50%, 480px);
}

.closeButton {
    position: fixed;
    top: 122px;
    right: 22px;
}

.text {
    color: #787B82;
}