.content {
	position: relative;
	min-width: 0;
	width: 100%;
	max-width: 334px;
}

.contentInner {
	width: 100%;
}

.closeButton {
	position: fixed;
	top: 122px;
	right: 22px;
}

.text {
	color: #787b82;
}

.successText {
	color: #0e0e0e;
}
