.content {
  width: 100%;
  max-width: 334px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--mantine-color-gray-6);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
