.container {
  display: flex;
  gap: 0.1rem 1rem;
  flex-wrap: wrap;
}

.link {
  color: var(--mantine-color-anchor);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linkActive {
  text-decoration: underline;
}
