.grid {
  --card-min-width: 280px;
  --card-max-width: 334px;
  --card-grid-hover-padding: 4px;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--card-min-width)), min(100%, var(--card-max-width)))
  );
  gap: 20px;
  width: 100%;
  padding: var(--card-grid-hover-padding);
}

.card {
  width: 100%;
  min-width: 0;
}
