.form {
  display: flex;
  flex-direction: column;
}

.field {
  width: 334px;
  position: relative;
}

.fieldInput {
  height: 40px;
}

.field + .field {
  margin-top: 20px;
}

.fieldError {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 12px;
}

.submitButton {
  width: 334px;
  height: 48px;
  margin-top: 40px;
}
