.layout {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 10;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #eeeff1;
}

.logo {
  flex: 0 0 auto;
}

.title {
  flex: 0 1 auto;
  font-size: 20px;
  font-weight: 700;
}

.search {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 20px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 7px;
}

.content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
