.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.card {
  cursor: context-menu;
}

.avatarPlaceholder {
  height: 180px;
  background-color: var(--mantine-color-lightBlue-0);
  border-radius: var(--mantine-radius-md);
}

.menuContainer {
  position: fixed;
  z-index: 1000;
}
