.wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-default);
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-xs);
  font-weight: 400;
  line-height: 16px;

  &:has(.star) {
    width: 58px;
    padding: var(--mantine-spacing-xs);
  }
}

.star {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
