.wrapper {
    position: relative;
}

.button {
  padding: 4px;
  border-radius: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  
  cursor: pointer;
  transition:
    color 120ms ease,
    background-color 120ms ease;
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 1.5px solid var(--mantine-color-blue-4);
}

.buttonActive {
  color: var(--mantine-color-blue-4);
  background-color: var(--mantine-color-blue-0);
}

.buttonActive:hover {
  background-color: var(--mantine-color-blue-0);
}

.profile {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
}