.authLayout {
  display: grid;
  grid-template-columns: minmax(360px, 48vw) 1fr;
  min-height: 100vh;
}

.decorationRight {
  grid-template-areas: "content decoration";
}

.decorationLeft {
  grid-template-areas: "decoration content";
}

.decoration {
  grid-area: decoration;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}

@media (max-width: 768px) {
  .authLayout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content";
  }
}