.authLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  grid-template-areas: "content decoration";
}

.decoration {
  grid-area: decoration;
  background-image: url('/public/auth_decoration_right.png');
  background-size: cover;
  background-position: center;
  background-color: #3E87FF;
  background-repeat: no-repeat;
  width: 1115px;
  height: 707.72px;
}

.decorationRight {
  grid-template-areas: "content decoration";
  position: relative; 
}

.decorationRight .decoration {
  position: absolute;
  top: 97.12px;
  left: 11px;
}

.decorationLeft {
  grid-template-areas: "decoration content";
  position: relative;
}

.decorationLeft .decoration {
  background-image: url('/public/auth_decoration_left.png');
  position: absolute;
  top: 315px;
  left: -661px;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .authLayout {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
}
