.shiftIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
 }


.shiftControl {
  flex: 1 1 0;
  min-width: 0;
}

.shiftControlRoot {
  box-sizing: border-box;
  background: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-default);
}
.shiftControlIndicator {
  background: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-lightBlue-1);
}